*{
    margin-top:0px;
    margin-bottom:0px;
}

.center{
    opacity:1;
    background-color:#0066CC;
    margin-left:auto;
    margin-right:auto;
}

body{
    background-image:url(./image/background.jpg);
    background-repeat:no reapeat;
    background-position: center 0;
    background-attachment:fixed;
    background-size:cover;
    margin-left:auto;
    margin-right:auto;
    color:#EEEEEE;
    line-height: 40px;
}

h1{
    opacity:1;
    color:#EEEEEE;
    font-family:'Palatino Linotype', 'Book Antiqua', Palatino, serif;
    line-height: 50px;
}

#left{
    background-color:#000000;
    opacity:0.6;
    float:left;
    width:50%;
    height:100%;
}

#right{
    background-color:#000000;
    opacity:0.6;
    float:right;
    width:50%;
    height:100%;
}

h2{
    margin-top: 10px;
    font-family:Arial,Verdana,Sans-serif;
    text-align:center;
    color:#FFFFFF;
}

a{
    color:rgb(212, 212, 212);
}

.likeP{
    font-family:"Times New Roman",Georgia,Serif;
    text-align:center;
}

p{
    font-family:"Times New Roman",Georgia,Serif;
    text-align:center;
}