.center{
    background-color:#0066CC;
}

body{
    background-image:url('/image/background.jpg');
    width:100%;
    height:100%;
    background-repeat:no reapeat;
    background-position:50%,50%;
    background-attachment:fixed;
}

body{
    background-color:#000000;
    opacity:0.6;
}

h1{
    color:#EEEEEE;
    padding: 10px 0;
    border-bottom: 1px solid #666666;
    font-family:'Palatino Linotype', 'Book Antiqua', Palatino, serif;
}

h2{
    text-indent: 25em;
    color:#EEEEEE;
    font-family:Arial,Verdana,Sans-serif;
}

.likeP{
    text-indent: 38em;
    color:#EEEEEE;
    font-family:"Times New Roman",Georgia,Serif;
}

p{
    text-indent: 38em;
    color:#EEEEEE;
    font-family:"Times New Roman",Georgia,Serif;
}